<p> Bonjour <b>{{  etudiant.nom }} {{  etudiant.prenom }}</b> </p>
<p style="color: red"> Nous avons informe que vous êtes risque de tomber en élimination dans <b>{{ matiere.nom }}</b><p>
<p style="color: red"> Vous avez <b>{{ nbrAbsence }}</b> absences </p>
<br>
<p>Cordialement</p>
<p>Agent Administratif</p>

