<p> Bonjour <b>{{  Etudiant.nom }} {{  Etudiant.prenom }}</b> </p>
<p> Nous avons créé un compte sur notre site web,<p>
<p> Nous vous invitons à découvrir en détail les fonctionnalités proposées en cliquant <a href="http://localhost/faculte/pfeProjet/web/app_dev.php/"> ici </a>. </p>
<p>Votre Identifiant : <b>{{ Etudiant.user.username }}</b></p>
<p>Votre mot de passe : <b>{{ passwordEtudiant }}</b></p>
<br>
<p>Cordialement</p>
<p>Agent Administratif</p>

